body {
	margin: 0;
	background-image: url("../resources/back.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.game {
	width: 100%;
	text-align: center;
}
